name: ci-dotnet-api

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build (Release)
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal

      # Opcional: gerar artefato publicado (útil se depois você for fazer deploy)
      - name: Publish
        run: dotnet publish ./src/SuaApi/SuaApi.csproj -c Release -o out

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-publish
          path: out
